#game-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
    row-gap: 1em;;
}
#game-container h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    justify-self: center;
}
#board-wrapper {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
#keyboard {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    justify-self: center;
}
.letter-box {
    height: 3em;
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
    outline: 1px solid black;
    padding-right: 2px;
}
#keyboard {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
}
#row1 {
    grid-row: 1 / 2;
}
#row2 {
    grid-row: 2 / 3;
}
#row3 {
    grid-row: 3 / 4;
}
.board-row {
    margin-top: 1em;
}
.board-key {
    display: inline-block;
    outline: 1px solid black;
    padding: .25em;
    font-size: 2em;
}
#keyboard input {
    display: inline-block;
    font-size: 2em;
    margin-top: 1em;
}