#game-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    row-gap: 1em;;
}
#game-container h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    justify-self: center;
}
#board-wrapper {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: stretch;
    align-items: stretch;
   
}
#keyboard {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
}
#directions {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    justify-self: center;
    margin: 1em 2em 1em 2em;
}
@media only screen and (min-width: 900px) {
    #keyboard {
       font-size: 1.25em;
    }
}
@media only screen and (max-width: 720px) {
    #keyboard {
       font-size: .80em;
    }
}
@media only screen and (max-width: 580px) {
    #keyboard {
       font-size: .65em;
    }
}
#game-controls {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
#game-word {
    text-align: center;
}
.letter-box {
    height: 2.5em;
    box-sizing: border-box;
    outline: 1px solid black;
    padding-right: 2px;
    text-align: center;
    font-size: 1.5em;
    padding-top: 15%;
}
.letter-box > * {
    justify-self: center;
    align-self: center;
}
.correct {
    background-color: lightgreen;
}
.partially-correct {
    background-color: yellow;
}
.wrong {
    background-color: lightgray;
}
.not-word {
    background-color: red;
}
#keyboard {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
}
#row1 {
    grid-row: 1 / 2;
}
#row2 {
    grid-row: 2 / 3;
}
#row3 {
    grid-row: 3 / 4;
}
.board-row {
    margin-top: 1em;
}
.board-key {
    display: inline-block;
    outline: 1px solid black;
    padding: .25em;
    font-size: 2em;
}
#keyboard input {
    display: inline-block;
    font-size: 2em;
    margin-top: 1em;
}
#debug-form {
    display: none;
}
#debug-btn {
    margin-top: 1em;
}
#new-game {
    display: none;
}
.disable-click {
    pointer-events: none;
}
form h5 {
    text-align: center;
}
